<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- >>> TITLE >>> -->

		<title>EtherGit | The first web gate into Ethereum.</title>

        <!-- >>> META TAGS >>> -->

		<meta charset='UTF-8'>
		<meta name="keywords" content="client input missing" />
		<meta name="description" content="client input missing" />

        <!-- >>> STYLES/CSS >>> -->

        <link rel="SHORTCUT ICON" href="/resources/images/favicon.png"/>
        <link href="/resources/styles/reset.css" rel="stylesheet" type="text/css" />
		<link href="/resources/styles/style.css" rel="stylesheet" type="text/css" />

        <!-- >>> SCRIPTS/JS >>> -->

        <script src="/resources/scripts/jquery-1.11.1/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="/resources/scripts/jquery-ui-1.11.0/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/resources/scripts/script.js" type="text/javascript"></script>

	</head>

	<body>

        <video id="bgVideo" autoplay loop poster="/resourcesx/images/fallback_background.jpg">
            <source src="/resources/images/stars.mov" type="video/webm">
            <source src="/resources/images/stars.ogv" type="video/ogg">
            <source src="/resources/images/stars.mp4" type="video/mp4">
        </video>

        <section>

            <div class="wrapper content-holder">

                <a href="http://www.ethergit.com/"><div class="logo-holder indenter">
                    <h1>Welcome to EtherGit | THE web gate to Ethereum.</h1>
                </div></a>

                <p> <span class="weight-800"> Ethereum is going live </span> </br> and we are building the best </br> web gate into the matrix.</p>

                <a href="http://dev.ethergit.com/" target="_self"><button class="call-to-action action-follow">dev.ethergit.com</button></a>
                <a href="http://forum.ethergit.com/categories/all" target="_self"><button class="call-to-action action-ask">ask us anything</button></a>

            </div>

        </section>

        <footer>

            <div class="wrapper">
                <a href="http://www.ethergit.com/"><img class="footer-logo" src="/resources/images/logo_white_small.png" height="24" width="107" alt="EtherGit | THE web gate to etherium" title="EtherGit | THE web gate to etherium" /></a>
            </div>

        </footer>

    <script th:replace="fragments::analytics"></script>

</body>

</html>

















