<html lang="en">

<head>

    <!-- >>> TITLE >>> -->

    <title>EtherGit | THE web gate into Ethereum.</title>

    <!-- >>> META >>> -->

    <meta charset='UTF-8'/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- >>> STYLES/CSS >>> -->

    <link rel="SHORTCUT ICON" href="/resources/images/favicon.png"/>
    <link href="/resources/styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="/resources/styles/style.css" rel="stylesheet" type="text/css" />


    <!-- >>> SCRIPT/JS >>> -->

    <script src="/resources/scripts/jquery-1.11.1/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/resources/scripts/jquery-ui-1.11.0/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/resources/scripts/script.js" type="text/javascript"></script>

</head>

<body>

<!--<video autoplay loop poster="/resources/images/fallback_background.jpg">-->
    <!--<source src="/resources/images/stars.mov" type="video/webm">-->
    <!--<source src="/resources/images/stars.ogv" type="video/ogg">-->
    <!--<source src="/resources/images/stars.mp4" type="video/mp4">-->
<!--</video>-->

<div class="wrapper">

    <div class="logo indenter">
        <h1>EtherGit</h1>
    </div>

    <p><span class="bold-800">Ethereum is going live</span> <br> and we are building the best <br> web gate into the matrix.</p>

    <div class="follow">
        <h6><a href="http://dev.ethergit.com">dev.ethergit.com</a></h6>
    </div>

    <div class="ask">
        <h6><a href="http://forum.ethergit.com/categories/all">ask us anything<a></h6>
    </div>

</div>

<footer>

    <div class="logo-small"></div>

</footer>

<script th:replace="fragments::analytics"></script>

</body>

</html>
