/*==================================================================================================================
GLOBAL >>>
==================================================================================================================*/

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: url(../images/fallback_background.jpg) scroll 0 0 no-repeat;
    background-size: cover;
    background-position: center;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../images/fallback_background.jpg) scroll 0 0 no-repeat;
    background-size: cover;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.indenter {
    overflow: hidden;
    text-indent: -9999px;
}

.weight-800 {
    font-weight: 800;
}

/*==================================================================================================================
BODY >>>
==================================================================================================================*/

section {
    height: 100%;
    width: 100%;
    position: relative;
}

.content-holder {
    height: auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

.logo-holder {
    float: left;
    background: url(../images/logo_white.png) scroll 0 0 no-repeat;
    background-size: 100%;
    background-position: center;
    border-bottom: 3px solid #ffffff;
}

.content-holder > p {
    float: left;
    clear: both;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 0.025em;
}

.call-to-action {
    float: left;
    border: 0;
    padding: 0;
    outline: 0;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 0.025em;
}

.action-ask {
    background: url(../images/ask.svg) scroll 0 0 no-repeat;
    background-size: 100%;
    background-position: center;
    font-weight: 400;
    clear: both;
    float: left;
}

.action-follow {
    background: url(../images/follow.svg) scroll 0 0 no-repeat;
    background-size: 100%;
    background-position: center;
    font-weight: 700;
}

/*==================================================================================================================
FOOTER >>>
==================================================================================================================*/

footer {
    height: 40px;
    width: 100%;
    background-color: #070f20;
    position: fixed;
    bottom: 0;
}

.footer-logo {
    height: 22px;
    width: 108px;
    background: url(.././images/logo_white.png) scroll 0 0 no-repeat;
    background-size: 100%;
    background-position: center;
    float: right;
    margin: 9px 0;
}
