/*==================================================================================================================
====================================================================================================================
GLOBAL >>>
====================================================================================================================
==================================================================================================================*/

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 575px;
}

video {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background: url(../images/fallback_background.jpg) scroll 0 0 no-repeat;
    background-size: cover;
}

.wrapper {
    width: 75%;
    min-width: 1100px;
    margin: 0 auto;
}

.indenter {
    overflow: hidden;
    text-indent: -9999px;
}

.weight-800 {
    font-weight: 800;
}

/*==================================================================================================================
====================================================================================================================
<<< GLOBAL
====================================================================================================================
==================================================================================================================*/

/*==================================================================================================================
====================================================================================================================
BODY >>>
====================================================================================================================
==================================================================================================================*/

section {
    height: 100%;
    width: 100%;
    position: relative;
}

.logo-holder {
    height: 70px;
    width: 238px;
    float: left;
    background: url(../images/logo_white.png) scroll 0 0 no-repeat;
}

.content-holder {
    height: 500px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -275px;
}

.content-holder > p {
    float: left;
    clear: both;
    color: #ffffff;
    font-weight: 300;
    font-size: 41px;
    margin-top: 70px;
    line-height: 48px;
    letter-spacing: 0.025em;
}

.call-to-action {
    float: left;
    border: 0;
    padding: 0;
    outline: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0.025em;
}

.action-follow {
    clear: both;
    background: url(../images/follow.png);
    height: 126px;
    width: 289px;
    margin-top: 71px;
    font-weight: 700;
    line-height: 137px;
}

.action-ask {
    background: url(../images/ask.png);
    height: 137px;
    width: 255px;
    margin: 60px 0 0 15px;
    font-weight: 400;
    padding: 11px 0 0 0;
    line-height: 137px;
}

/*==================================================================================================================
====================================================================================================================
<<< BODY
====================================================================================================================
==================================================================================================================*/

/*==================================================================================================================
====================================================================================================================
FOOTER >>>
====================================================================================================================
==================================================================================================================*/

footer {
    height: 50px;
    width: 100%;
    background-color: #070f20;
    position: fixed;
    bottom: 0;
}

.footer-logo {
    float: right;
    margin: 13px 0;
}

/*==================================================================================================================
====================================================================================================================
<<< FOOTER
====================================================================================================================
==================================================================================================================*/