/*==================================================================================================================
====================================================================================================================
GLOBAL >>>
====================================================================================================================
==================================================================================================================*/

html, body {
    height: 100%;
    width: 100%;
    color: white;
}

body {
    background: url(../images/fallback_background.jpg) scroll 0 0 no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    min-width: 1100px;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 10%;
}

.indenter {
    text-indent: -9999px;
}

p {
    font-size: 41px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 85px;
    line-height: 48px;
}

.bold-800 {
    font-weight: 800;
}

video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

/*==================================================================================================================
==================================================================================================================== <<< GLOBAL
====================================================================================================================
==================================================================================================================*/

.logo {
    height: 70px;
    width: 238px;
    background: url('../images/logo_white.png') scroll 0 0 no-repeat;
}

.follow {
    height: 137px;
    width: 289px;
    background: url(../images/follow.png) scroll 0 0 no-repeat;
    background-position: bottom;
    float: left;
    cursor: pointer;
    line-height: 160px;
    margin-top: 50px;
}

.ask {
    height: 137px;
    width: 255px;
    background: url(../images/ask.png) scroll 0 0 no-repeat;
    float: left;
    cursor: pointer;
    line-height: 160px;
    margin-top: 50px;
    margin-left: 15px;
}

h6 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

footer {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #070f20;
}

.logo-small {
    height: 24px;
    width: 170px;
    background: url(../images/logo_white_small.png) scroll 0 0 no-repeat;
    float: right;
    margin: 18px;
}