/*==================================================================================================================
Extra small screens >>>
==================================================================================================================*/

@media only screen and (max-width : 1224px) {

    .content-holder {
        margin-top: -175px;
    }

    .logo-holder {
        height: 40px;
        width: 136px;
    }

    .content-holder > p {
        font-size: 20px;
        margin-top: 35px;
        line-height: 30px;
    }

    .call-to-action {
        font-size: 14px;
    }

    .action-follow {
        height: 80px;
        width: 173px;
        margin: 33px 0 0 15px;
        line-height: 80px;
    }

    .action-ask {
        height: 84px;
        width: 154px;
        margin: 30px 0 0 -7px;
        line-height: 94px;
    }

    footer {
        height: 30px;
        width: 100%;
        background-color: #070f20;
        position: fixed;
        bottom: 0;
    }

    .footer-logo {
        height: 18px;
        width: 80px;
        background: url(.././images/logo_white.png) scroll 0 0 no-repeat;
        background-size: 100%;
        background-position: center;
        float: right;
        margin: 6px 0;
    }

}

/*==================================================================================================================
Desktops and laptops >>>
==================================================================================================================*/

@media only screen and (min-width : 1224px) {

    .content-holder {
        margin-top: -200px;
    }

    .logo-holder {
        height: 50px;
        width: 170px;
    }

    .content-holder > p {
        font-size: 29px;
        margin-top: 35px;
        line-height: 39px;
    }

    .call-to-action {
        font-size: 16px;
    }

    .action-follow {
        height: 98px;
        width: 212px;
        margin: 39px 0 0 15px;
        line-height: 105px;
    }

    .action-ask {
        height: 104px;
        width: 191px;
        margin: 35px 0 0 -7px;
        line-height: 110px;
    }

}

/*==================================================================================================================
Large screens >>>
==================================================================================================================*/

@media only screen  and (min-width : 1580px) {

    .content-holder {
        margin-top: -275px;
    }

    .logo-holder {
        height: 70px;
        width: 238px;
    }

    .content-holder > p {
        font-size: 41px;
        margin-top: 70px;
        line-height: 48px;
    }

    .call-to-action {
        font-size: 18px;
    }

    .action-follow {
        height: 131px;
        width: 284px;
        margin: 67px 0 0 15px;
        line-height: 137px;
    }

    .action-ask {
        height: 138px;
        width: 255px;
        margin: 61px 0 0 -5px;
        line-height: 154px;
    }

}

/*==================================================================================================================
Smartphones (portrait and landscape) >>>
==================================================================================================================*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body {
        background: url(../images/mobile_bg_main.jpg) scroll 0 0 no-repeat;
        background-size: cover;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    .wrapper {
        width: 100%;
        margin: 0;
    }

    .content-holder {
        height: 500px;
        position: absolute;
        top: 27%;
        right: 0;
        left: 0;
        margin-top: -275px;
    }

    .logo-holder {
        height: 100px;
        width: 340px;
        background: url(../images/logo_white.png) scroll 0 0 no-repeat;
        background-size: 100%;
        margin: 0 auto;
        float: none;
    }

    .content-holder > p {
        clear: both;
        color: #ffffff;
        font-weight: 300;
        font-size: 51px;
        margin-top: 12%;
        line-height: 61px;
        letter-spacing: 0.025em;
        background: url(../images/mobile_p_bg.png) scroll 0 0 repeat;
        padding: 40px;
        text-align: center;
        float: none;
    }

    .call-to-action {
        border: 0;
        padding: 0;
        outline: 0;
        color: #ffffff;
        cursor: pointer;
        font-size: 4vw;
        letter-spacing: 0.025em;
    }

    .action-follow {
        background: url(../images/follow_mobile.svg) scroll 0 0 no-repeat;
        background-size: 100%;
        height: 51%;
        width: 60%;
        font-weight: 700;
        margin-top: 40px;
        padding-top: 30px;
        clear: both;
        float: none;
    }

    .action-ask {
        background: url(../images/ask_mobile.svg) scroll 0 0 no-repeat;
        background-size: 100%;
        height: 51%;
        width: 50%;
        font-weight: 400;
        margin-top: 55px;
        padding-top: 30px;
        clear: both;
        float: none;
    }

    footer {
        height: 100px;
        background-color: #070f20;
        position: fixed;
        bottom: 0;
    }

    .footer-logo {
        margin: 45px auto;
        float: none;
        height: 30px;
        width: 120px;
    }

}
